<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EmpowerPresenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EmpowerPresenter.Properties.Settings.BIBDATAConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\BIBDATA.MDB"
      providerName="System.Data.OleDb" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\BibData.sdf&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<add name="CustomTraceListener" type="Diagnostics.CustomTraceListener,CustomTraceListener"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <EmpowerPresenter.Properties.Settings>
      <setting name="CurrentLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="BibleImage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SongDefaultFormat" serializeAs="String">
        <value>False|False</value>
      </setting>
      <setting name="PresentationMonitor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BibleImageOpacity" serializeAs="String">
        <value>-32</value>
      </setting>
      <setting name="SongDefaultImage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SongDefaultOpacity" serializeAs="String">
        <value>-32</value>
      </setting>
      <setting name="BibleNumVerses" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BiblePrimaryTranslation" serializeAs="String">
        <value />
      </setting>
      <setting name="BibleSecondaryTranslation" serializeAs="String">
        <value />
      </setting>
      <setting name="UseBlackBackdrop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideContentOnMin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BibleTertiaryTranslation" serializeAs="String">
        <value />
      </setting>
    </EmpowerPresenter.Properties.Settings>
  </userSettings>
</configuration>